<ion-header>
  <ion-toolbar>
      <ion-title>
          <h2>
              <strong>
                  Agremiados 
              </strong>
          </h2>
      </ion-title>
      <ion-buttons>
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <ion-button href="home-admin" shape="round"
                          style="background-color: #7a048a; border-radius: 25px">
                          &nbsp;<ion-icon name="arrow-back"></ion-icon>
                          &nbsp;Regresar al panel de administrador
                      </ion-button>&nbsp;
                      <ion-button shape="round" style="background-color: #7a048a; border-radius: 25px"
                          (click)="generarPDF()">
                          &nbsp;<ion-icon name="print"></ion-icon>
                          &nbsp; Imprimir Lista
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #content>
      <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th><strong>Apellido Paterno</strong></th>
                      <th><strong>Apellido Materno</strong></th>
                      <th><strong>Nombre(s)</strong></th>
                      <th><strong>Sexo</strong></th>
                      <th><strong>NUP</strong></th>
                      <th><strong>NUE</strong></th>
                      <th><strong>RFC</strong></th>
                      <th><strong>NSS</strong></th>
                      <th><strong>Fecha de Nacimiento</strong></th>
                      <th><strong>Teléfono</strong></th>
                      <th><strong>Cuota</strong></th>
                      <th><strong>Acciones</strong></th>
                  </tr>
              </thead>
              <tbody *ngFor="let agre of agremiados">
                  <!-- Los datos se llenarán dinámicamente aquí -->
                  <tr>
                      <td>{{agre.apellidopaterno}}</td>
                      <td>{{agre.apellidomaterno}}</td>
                      <td>{{agre.nombres}}</td>
                      <td>{{agre.sexo}}</td>
                      <td>{{agre.NUP}}</td>
                      <td>{{agre.NUE}}</td>
                      <td>{{agre.RFC}}</td>
                      <td>{{agre.NSS}}</td>
                      <td>{{agre.fechadenacimiento}}</td>
                      <td>{{agre.telefono}}</td>
                      <td>{{agre.cuota}}</td>
                      <td>
                        <ion-button size="small">Editar</ion-button>&nbsp;

                        <ion-button size="small">Eliminar</ion-button>&nbsp;
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</ion-content>