
        <div class="col-lg-8">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                  <form (ngSubmit)="agregarSolicitud()" #solicitudForm="ngForm">
                    <div class="row align-items-center pt-4 pb-3">
                      <div class="col-md-3 ps-5">
                        <h2 class="mb-0">NUE</h2>
                      </div>
                      <div class="col-md-9 pe-5">
                        <input type="text" class="form-control form-control-lg" name="NUE"
                          [(ngModel)]="nuevaSolicitud.NUE" required />
                      </div>
                    </div>
                    <hr class="mx-n3">
                    <div class="row align-items-center py-3">
                      <div class="col-md-3 ps-5">
                        <h2 class="mb-0">Ruta del Archivo</h2>
                      </div>
                      <div class="col-md-9 pe-5">
                        <input type="file" class="form-control form-control-lg" id="formFileLg"
                          (change)="onFileSelected($event)" accept=".pdf, .doc, .docx, .jpg, .jpeg, .png" required />
                        <div class="small text-muted mt-2">Subir cualquier archivo de tipo pdf, doc, docx, jpg, jpeg,
                          png. Archivo máximo tamaño 50 MB</div>
                      </div>
                    </div>
                    <hr class="mx-n3">
                    <div class="px-5 py-4">
                      <button type="submit" class="btn btn-primary btn-lg">Guardar Archivo</button>
                    </div>
                  </form>
                </div>
              </div>
      </div>
    </div>
</div>