<form class="form">
  <p class="title">Nuevo Agremiado</p>
  <p class="message">Agregue un nuevo agremiado</p>
      <div class="flex">
      <label>
          <input required="" placeholder="" type="text" class="input">
          <span>Apellido Paterno</span>
      </label>

      <label>
          <input required="" placeholder="" type="text" class="input">
          <span>Apellido materno</span>
      </label>

      
      <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Nombre(s)</span>
    </label>

  </div>  
  <div class="flex">
    <label>
        <input required="" placeholder="" type="text" class="input">
        <span>NUP</span>
    </label>

    <label>
        <input required="" placeholder="" type="text" class="input">
        <span>NUE</span>
    </label>
  
</div> 

<div class="flex">
  <label>
      <input required="" placeholder="" type="text" class="input">
      <span>RFC</span>
  </label>

  <label>
      <input required="" placeholder="" type="text" class="input">
      <span>NSS</span>
  </label>

</div> 
<div class="flex">
  <label>
      <input required="" placeholder="" type="text" class="input">
      <span>Fecha de nacimiento</span>
  </label>

  <label>
      <input required="" placeholder="" type="text" class="input">
      <span>Telefono</span>
  </label>

</div> 
<div class="flex">
  <label>
      <input required="" placeholder="" type="text" class="input">
      <span>Cuota</span>
  </label>

  <label>
      <input required="" placeholder="" type="text" class="input">
      <span>Genero</span>
  </label>

</div> 
 
  <button class="submit"> Agregar agremiado</button>
  <button class="submit">Regresar al Panel de administrador</button>
  <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
</form>