<ion-header>
  <ion-toolbar>
      <ion-title>
          <h2>
              <strong>
                 Panel de Administrador
              </strong>
          </h2>
      </ion-title>
      <ion-buttons>
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <ion-button href="nuevo-agremiado" shape="round" style="background-color: #8574e7; border-radius: 25px">
                          &nbsp;Crear Agremiado
                      </ion-button>&nbsp;
                      <ion-button href="ver-agremiado" shape="round" style="background-color: #8574e7; border-radius: 25px">
                          &nbsp; Ver Agremiados 
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
