<ion-header class="header-background">
    <ion-toolbar>
      <ion-title>
        <h2>
          <strong>
            Panel de Administrador
          </strong>
        </h2>
      </ion-title>
      <ion-buttons class="button-grid">
        <ion-button href="nuevo-agremiado" shape="round">
          Crear Agremiado
        </ion-button>
  
        <ion-button href="ver-agremiado" shape="round">
          Ver Agremiados
        </ion-button>
  
        <ion-button href="nuevo-agremiado" shape="round">
          Ver Solicitudes
        </ion-button>
  
        <ion-button shape="round" title="Da click para salir" (click)="logout()">
          <ion-icon name="log-out"></ion-icon> Cerrar Sesión
        </ion-button>
        
      </ion-buttons>

      <br>
    </ion-toolbar>
  </ion-header>

 <ion-content align="center">
    <br><br>
    <img class="logo" src="https://lh4.googleusercontent.com/-_PPR6SM0APc/Uzhla1PMuuI/AAAAAAAAAJ8/w7J4R5YLHZc/s1600/skill_1024.jpg" style="height: 75px; width: 75px; border-radius: 40px;" style="height: 500px; width: 500px; border-radius: 40px;" alt="...">
  </ion-content>

